.container {
  height: 100vh;
}
.home {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 130px;
  padding-left: 15px;
  height: 100%;
  background-color: #000;
  color: #fff;
}
.home__container {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: row;
}
.home__text {
  flex: 0.6;
  margin-bottom: 15px;
}
.home__text:first-child {
  align-items: center;
}
.home__thumb {
  top: 0;
  left: 0;
  width: 100%;
  flex: 0.4;
  justify-content: center;
  align-items: center;
}

.home__title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
.home__description {
  font-size: 15px;
  font-weight: 5;
}

.homeThumb__thumbnail {
  width: 50%;
  height: 50%;
}

@media (max-width: 648px) {
  .home__text {
    margin-bottom: 0;
  }
  .home__container {
    flex-direction: column;
  }
  .home__thumb {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-top: -100;
  }
}

@media (max-width: 1125px) {
  .home {
    padding-top: 20px;
  }
}
