.home {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 15px;
  background-color: #000;
  height: 100%;
  color: #fff;
}
.home__container {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: row;
}
.home__text {
  flex: 0.4;
  margin-bottom: 15px;
  border-right: 0.000000000000009px solid gray;
}
.home__text:first-child {
  align-items: center;
}
.home__thumb {
  top: 0;
  left: 0;
  flex: 0.6;
  justify-content: center;
  margin-left: 5vw;
  align-items: center;
}

.home__title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
.home__description {
  font-size: 15px;
  font-weight: 5;
}
.spacing {
  height: 26px;
  background-color: #000;
}
